@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.font_light {
    font-weight: 300 !important; }

.font_normal {
    font-weight: 400 !important; }

.font_bold {
    font-weight: 500 !important; }

.font-mont {
    font-family: "Montserrat";
}
.backgroundLightBlue {
    background: #457fca;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #457fca, #5691c8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #457fca, #5691c8); }

body {
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
    background-color: #ccc; }

body, html {
    height: 100%; }

.wrapper {
    min-height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: white; }

a {
    text-decoration: none; }
a:hover {
    text-decoration: none; }

.instructions p, a {
    font-size: 18px;
    font-weight: 300;
}
.instructions a {
    color: white;
    padding: 6px 12px;
    border: 1px solid white;
    margin-right: 15px;
}
.instructions a:hover {
    background-color: white;
    color: #457fca;
}